
body{
background:linear-gradient(rgb(11, 0, 77),rgb(10, 1, 63),rgba(9, 0, 61, 0.836));
background-size: 100%;
background-attachment: fixed;

}

#arvore{
font-family: 'Montserrat', sans-serif;
}

#logo img{
width: 275px;
height: auto;
}

#logo{
padding-top: 30px;
padding-bottom: 50px;
color: white;
}

.botao{
width: 55%;
height: 70px;
background-color: #42506b;
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
border: none;
transition: 0.1s;
}

.botao:hover{
width: 50%;
transition: 0.3s;
cursor: pointer;
color: #e0dcdb;
}


.botao_st{
width: 55%;
height: 70px;
background-color: #53db6c;
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
border: none;
transition: 0.1s;
}

.botao_st:hover{
width: 50%;
transition: 0.3s;
cursor: pointer;
color: #e0dcdb;
}


.botao_st2{
width: 55%;
height: 70px;
background-color: #db6553;
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
border: none;
transition: 0.1s;
}

.botao_st2:hover{
width: 50%;
transition: 0.3s;
cursor: pointer;
color: #e0dcdb;
}


.botao_main{
width: 55%;
height: 70px;
background-color: white;
color: #203e77;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
border: none;
transition: 0.1s;
}

.botao_main:hover{
width: 50%;
transition: 0.3s;
cursor: pointer;
color: #5d87b2;
}


.botao{
background:linear-gradient(#B8860B,#B8860B,gold);
    color: white;
    border: none;
    cursor: pointer;
    padding:20px 50px;
    margin-top:10px;
border-radius: 10px;
 filter: drop-shadow(1px 1px 3px rgba(255,255,255,0.5));
}


 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background:linear-gradient(#B8860B,rgb(211, 155, 13),rgb(235, 199, 0));
  color: white;
  cursor: pointer;
  padding: 5% 5% 5% 5%;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 3px rgba(255,255,255,0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(216, 202, 8);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding:10px 18px;
  background-color: rgb(255, 242, 67);
  display: none;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  margin-top: -7px;
  margin-bottom: 2px;
} 

.tambut{
  width: 65%;
  margin-bottom: 15px;
}
#separaacordeon{
  margin-bottom: 7px;
}

#linksgerais{
  background-color: rgb(255, 234, 113);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(219, 180, 5);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


linksgerais:hover, linksgerais:active {
  background-color: rgb(219, 180, 0);
  color: white;
}


body {margin:0;height:120%;}

.icon-bar {
  position: fixed;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
  cursor: pointer;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #ff0b7d;
  color: white;
}

.quadro{
position: relative;
background: #fdfeb8;
border: 4px solid rgb(255, 0, 0);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
}


#textbox{
  margin-bottom: -5px;
}

h2{
  color: white;
  font: 'Helvetica','Arial',sans-serif;
  font-size: larger;
  border: red;
  background-color: red;
  padding: 5px;
}
